<div class="main">
  <h1 class="title">VelhaInHouse</h1>
  <h3>Jogardor atual: {{ currentPlayer }}</h3>
  <h4>Vencedor: {{ winner }}</h4>
  <div class="gameContainer">
    <table class="table table-bordered">
      <tbody>
      <tr *ngFor="let row of [0, 1, 2]">
        <td *ngFor="let col of [0, 1, 2]" (click) = "play(row, col)">
          {{board[row][col]}}
        </td>
      </tr>
    </tbody>
    </table>

  </div>
  <button (click) = "reset()">Reiniciar!</button>
</div>

<!--<table class="table table-bordered">
  <tbody>
    <tr>
      <td (click)="play(0,0)">{{ board[0][0] }}</td>
      <td (click)="play(0,1)">{{ board[0][1] }}</td>
      <td (click)="play(0,2)">{{ board[0][2] }}</td>
    </tr>
    <tr>
      <td (click)="play(1,0)">{{ board[1][0] }}</td>
      <td (click)="play(1,1)">{{ board[1][1] }}</td>
      <td (click)="play(1,2)">{{ board[1][2] }}</td>
    </tr>
    <tr>
      <td (click)="play(2,0)">{{ board[2][0] }}</td>
      <td (click)="play(2,1)">{{ board[2][1] }}</td>
      <td (click)="play(2,2)">{{ board[2][2] }}</td>
    </tr>
  </tbody>
</table>-->
